<ion-header>
  <ion-toolbar>
    <ion-title>Selecione uma opcao</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <div class="modal-body">
    <div class="image-container">

      <div class="image-item" (click)="selectOption('guincho')">
        <ion-img src="assets/img/guincho.png"></ion-img>
        <p class="image-label">Guinchos</p>
      </div>

      <div class="image-item" (click)="selectOption('oficina')">
        <ion-img src="assets/img/oficina2.jpg"></ion-img>
        <p class="image-label">Oficinas</p>
      </div>
      
    </div>
    <ion-button expand="full" (click)="closeModal()">Fechar Modal</ion-button>
  </div>
</ion-content>
