.map-container {
  height: 100%;
  width: 100%;
  position: relative;
}

app-map {
  height: 100%;
  width: 100%;
  display: block; /* Asegura que el componente del mapa se expanda correctamente */
}


// *********************** para alert

/* styles.css o tu archivo de estilos global */
.custom-alert .alert-wrapper {
  --background: transparent; /* Opcional: cambia el fondo del alert si es necesario */
}

.custom-alert #alert-content {
  text-align: center;
}

.custom-alert img {
  border-radius: 8px; /* Opcional: estilos adicionales para las imágenes */
  box-shadow: 0 0 5px rgba(0,0,0,0.2); /* Opcional: sombra para mejor apariencia */
}