<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Termos e Condições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="terms-container">
    <h1>Termos e Condições de Uso</h1>
    <p>Última atualização: 15 de Setembro de 2024</p>

    <h2>1. Introdução</h2>
    <p>Bem-vindo ao nosso aplicativo de serviços de guincho e mecânico. Ao utilizar o aplicativo, você concorda com os nossos termos e condições. O uso da localização do usuário é necessário para oferecer informações precisas sobre os serviços disponíveis nas proximidades.</p>

    <h2>2. Uso da Localização</h2>
    <p>Nosso aplicativo utiliza a localização do usuário para fornecer serviços relevantes de empresas de guincho e oficinas mecânicas próximas. A sua localização será processada de acordo com as leis de privacidade brasileiras, incluindo a Lei Geral de Proteção de Dados (LGPD), Lei nº 13.709/2018, Art. 7º e Art. 9º.</p>

    <h2>3. Publicidade</h2>
    <p>O aplicativo pode exibir anúncios publicitários de terceiros, que são empresas de guincho e oficinas mecânicas parceiras. Esses anúncios seguem o Código de Defesa do Consumidor (CDC), Lei nº 8.078/1990, Art. 36 a Art. 38, assegurando que todas as informações sejam claras e verídicas.</p>

    <h2>4. Responsabilidade</h2>
    <p>Nosso aplicativo não se responsabiliza pela qualidade dos serviços prestados pelas empresas anunciadas, conforme o Código Civil Brasileiro, Lei nº 10.406/2002, Art. 927 e Art. 931. As empresas anunciantes são exclusivamente responsáveis pelos serviços oferecidos.</p>

    <h2>5. Alterações nos Termos</h2>
    <p>Reservamo-nos o direito de modificar estes Termos e Condições a qualquer momento. Quaisquer alterações serão comunicadas aos usuários através do aplicativo.</p>

    <h2>6. Legislação Aplicável</h2>
    <p>Este acordo será regido pelas leis brasileiras, especialmente a Lei Geral de Proteção de Dados (LGPD) - Lei nº 13.709/2018 e o Código de Defesa do Consumidor (CDC) - Lei nº 8.078/1990.</p>
    
    
    <ion-button expand="full" (click)="gotToLogin()">Registrar-se</ion-button>
  </div>
</ion-content>

